# Environment variables
.env

# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Pytest / test reports
.pytest_cache/
report.html
allure-results/
allure-report/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
